body
{
    background-color: rgb(153, 179, 37);
}
div
{
    width: 300px;
    border: 1px solid white;
    margin-left: 25vw;
    margin-top: 5vh;
    padding: 20vh 10vw;
    text-align: center;
    transition: all 2s;
}
input
{
    width: 350px;
    height: 40px;
    padding: 10px 20px;
    position: relative;
    bottom: 45px;
}
button
{
    margin-top: 50px;
    margin-right: 5vw;
    font-size: 15px;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    background-color: rgb(3, 3, 51);
    padding: 10px 25px ;
    position: relative;
    bottom: 55px;
}
button:hover
{
    color: white;
    background-color: rgb(73, 1, 1);
}
h2
{
    color: white;
    position: relative;
    bottom: 60px;
    font-size: 40px;
}
h1
{
    color: white;
    font-size: 30px;
}
